{% block bienvenue %}
    <div class="title">
        {% if app.user == null %}
            <h1>Bonjour</h1>
        {% else %}
            <h1>Bonjour {{ app.user.name }}</h1>
        {% endif %}
    </div>
{% endblock %}