{% extends 'base.html.twig' %}
{% block menu %}
    <nav>
        <ul>
            {% if is_granted('ROLE_ADMIN') == false and is_granted('ROLE_SUPER_ADMIN')  %}
                {% block listingLinks %}
                    {% include '/site/links/main_links.html.twig' %}
                {% endblock %}
            {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% endif %}
        </ul>
    </nav>
{% endblock %}