{% block header %}
    <nav class="navbar">
        <div class="img-container">
            <a href="#" class="navbar-logo">
                <img class = "icon" src="{{ asset('img/UPtr.png') }}" alt="logo"/>
            </a>
        </div>
        <ul class="nav-list">
            <li class="list-item">
                <a>X</a>
            </li>
            <li class="list-item">
                <a>Y</a>
            </li>
            <li class="list-item">
                <a>Z</a>
            </li>
        </ul>
    </nav>
{% endblock %}