{% extends 'base.html.twig' %}
{% block titre %}
<h1>Type de notes</h1>
{% endblock %}
{% block list %}
    <table>
        <th>Type</th>
        <th>Commentaire</th>
        {% for typeNote in typesNote %}
            <tr>
                <td>{{ typeNote.type }}</td>
                <td>{{ typeNote.commentaire | default('NULL')}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

