<h2 class="title_links">Menu</h2>
{#Potentiellement inutile#}
{% block listinglinks %}
    <nav class="nav-links">
        <ul>
            {# Notes #}
            <li class="link-list">
                <a href="{{ path('redirect_to_notes_view') }}">Les Etudiants</a>
            </li>
        </ul>
    </nav>
{% endblock %}