<h2 class="title_links">Menu</h2>
{% block listinglinks %}
    <nav class="nav-links">
        <ul>
            {# Etudiants #}
            <li class="link-list">
                <a href="#">Notes</a>
            </li>
            {# Gestion universitaire #}
            <li class="link-list">
                <a href = "#">Universite</a>
            </li>
        </ul>
    </nav>
{% endblock %}