<h2 class="title_links">Menu</h2>
{% block listinglinks %}
    <nav class="nav-links">
        <ul>
            {# Notes #}
            <li class="link-list">
                <a href="{{ path('redirect_to_notes_view') }}"
            </li>
            {# Gestion universitaire #}
        </ul>
    </nav>
{% endblock %}