{% block listingLinks %}
    <nav class = "nav-links">
        <ul>
            <li class="link-list">
                <a href="{{ path('app_list_parcours') }}">Les Parcours</a>
            </li>
            <li class="link-list">
                <a href="{{ path('app_listing_epreuves') }}">Les Epreuves</a>
            </li>
            <li class="link-list">
                <a href="{{ path('periode_list') }}">Les Périodes</a>
            </li>
            <li class="link-list">
                <a href="{{ path('app_list_ues') }}">Les UEs</a>
            </li>
        </ul>
    </nav>
{% endblock %}