<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block bienvenue %}
                {% include 'site/header.html.twig' %}
            {% endblock %}
            {% block menu %}
                {% include 'site/menu.html.twig' %}
            {% endblock %}
        {% endblock %}


        {% block forms %}
        {% endblock %}


        {% block list %}
        {% endblock %}

        {% block page %}
        {% endblock %}


        {% block footer %}
            {% include 'site/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
