{% extends 'base.html.twig' %}
{% block  menu%}
    <h2 class="title_links">Les Notes</h2>
    <nav class="nav-grades">
        <ul>
            {#Notes Epreuves #}
            <li class="link-grades">
                <a href="{{ path('app_note_epreuves_etudiant', {'id' :  id }) }}">Notes aux épreuves</a>
            </li>
            {#Notes UEs#}
            <li class="link-grades">
                <a href="{{ path('app_note_parcours_etudiant', {'id' :  id }) }}">Notes aux UEs</a>
            </li>
            {# Notes Periodes [Semestre/Année] #}
            <li class="link-grades">
                <a href="{{ path('app_note_periode_etudiant', {'id' :  id }) }}">Notes sur les périodes Universitaires</a>
            </li>
            {#Notes Parcours#}
            <li class="link-grades">
                <a href="{{ path('app_note_parcours_etudiant', {'id' :  id }) }}">Note au parcours Universitaire</a>
            </li>
        </ul>
    </nav>
{% endblock %}